*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(145, 215, 255);
}

nav{
  display: flex;
  gap: 30px;
  background-color: white;
  margin-bottom: 20vh;
}

a{
  text-decoration: none;
  color: black;
  font-size: 28px;
}

.container{
  height: 35vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}