*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(145, 215, 255);
}

nav{
  display: flex;
  gap: 30px;
  background-color: white;
  margin-bottom: 20vh;
}

a{
  text-decoration: none;
  color: black;
  font-size: 28px;
}

.container{
  height: 35vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.container-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal {
  width: 400px;
  padding: 24px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  align-items: center;
}